footer {
    background: white;
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif; /* Modern, clean font */
}

footer#contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: lightblue;
    text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000;
}

.form-label {
    font-size: 2em;
    margin-bottom: 20px;
    color: light purple;
}

.form-step {
    display: none; /* Initially hide all steps */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.form-step.active {
    display: block; /* Show step when it has the 'active' class */
    opacity: 1;
}

#contact-form {
    padding: 15px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px; /* Slightly rounded corners on inputs */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow on inputs */
    outline: none;
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

#contact-form input[type="text"]:focus,
#contact-form input[type="email"]:focus,
#contact-form textarea:focus {
    box-shadow: 0px 0px 10px 0px rgba(74, 0, 114, 0.5); /* Highlight on focus with purple color */
}

#contact-form button {
    background: #ffffff;
    color: #4a0072;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
}

#contact-form button:hover {
    background: #4a0072;
    color: #ffffff;
}