@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


.name-text, .header-text-large {
    white-space: nowrap;
    overflow: hidden; /* Hide overflow to ensure text doesn't extend out of its container */
    text-overflow: ellipsis; /* Optional: display '...' for overflowing text */
    display: flexbox;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    flex-direction: row;
    overflow: hidden;
}

.card {
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1000px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
    color: #333; /* Dark color for better contrast */
    display: flex;
    flex-wrap: nowrap;
}

.icon-label .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 10;
    position: absolute;
    top: 80%;
    left: 20%;
}

.card > .row > .description {
    z-index: 11; /* Make it display above the icon */
    display: flex;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
    width: 520px;
    transition-delay: .3s;
    transition: all .3s ease;
    /* Increase if necessary */
    transform: translateY(0); /* Reset the vertical transform */
    padding: 10px 20px; /* Add some padding to prevent the text from touching the edges */
    height: auto; /* Let the container adjust based on its content */
    position: absolute;
    bottom: auto;
    left: auto;
    right: 15%;
}

.description p {
    color: #333; /* Dark color for better contrast */
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
    color: #333; /* Dark color for better contrast */
    font-size: 1.5em;
    font-weight: bold;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
    flex-direction: column;
    justify-content: left;
}

input:checked + label .description {
    opacity: 1; /* Displayed when checked */
    transform: translateY(0);
}

.card[for="c1"] {
    background-image: url('../imgs/img1.jpg');
}

.card[for="c2"] {
    background-image: url('../imgs/img2.jpg');
}

.card[for="c3"] {
    background-image: url('../imgs/img3.jpeg');
}

.card[for="c4"] {
    background-image: url('../imgs/img4.jpeg');
}

.container, .cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    width: 80vw;
}

.description p, .description h4 {
    color: #FFFFFF; /* White color for better visibility against dark overlay */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}