/* Default size for larger screens */
.header-text-small {
    font-size: 40px; /* Adjust based on what looks best on a desktop */
    font-family: 'Oswald', sans-serif; /* Use Oswald font */
}

.header-text-large {
    font-size: 3vw; /* Adjust based on what looks best on a desktop */
}

/* Adjustments for medium screens */
@media (max-width: 1200px) {
    .header-text-small {
        font-size: 4vw;
    }

    .header-text-large {
        font-size: 2.5vw;
    }
}

/* Adjustments for small screens */
@media (max-width: 800px) {
    .header-text-small {
        font-size: 3.5vw;
    }

    .header-text-large {
        font-size: 2.2vw;
    }
}

/* Adjustments for very small screens */
@media (max-width: 500px) {
    .header-text-small {
        font-size: 3vw;
    }

    .header-text-large {
        font-size: 2vw;
    }
}


/* Set a minimum font size for very small screens */
@media (max-width: 400px) {
    .name-text, .header-text-large {
        font-size: 20px; /* Adjust as needed */
    }
}

/* Set a maximum font size for larger screens */
@media (min-width: 1200px) {
    .name-text, .header-text-large {
        font-size: 48px; /* Adjust as needed */
    }
}